# Cleaning and wrangling Monthly_Temps df

Contents
- 01 Importing libraries and data
- 02 Cleaning countries

 


## 01 Importing libraries and data

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# Define path

path = r'//Users/amypalomino/Documents/June 22 Final Project/02 Data'

In [3]:
# Import dataframe 

df = pd.read_csv(os.path.join(path, 'Prepared Data', 'Monthly_Temps.csv'),
                index_col = False)

## 02 Cleaning Countries

In [4]:
df.head()

,Unnamed: 0,Area Code (FAO),Area,Element,Months,Year,Unit,Value,Month_No,Day,Date
0,0,2,Afghanistan,Temperature change,January,1970,°C,0.824,1,1,1970-01-01
1,1,2,Afghanistan,Temperature change,January,1971,°C,-1.465,1,1,1971-01-01
2,2,2,Afghanistan,Temperature change,January,1972,°C,-1.237,1,1,1972-01-01
3,3,2,Afghanistan,Temperature change,January,1973,°C,-2.871,1,1,1973-01-01
4,4,2,Afghanistan,Temperature change,January,1974,°C,-1.181,1,1,1974-01-01

In [5]:
df = df.drop(columns = ['Unnamed: 0'])

In [6]:
df.columns

Index(['Area Code (FAO)', 'Area', 'Element', 'Months', 'Year', 'Unit', 'Value',
       'Month_No', 'Day', 'Date'],
      dtype='object')

In [7]:
df['Area'].value_counts(dropna = False)

Guyana                             1248
Georgia                             984
Sudan                               636
Afghanistan                         624
Myanmar                             624
                                   ...
Yugoslav SFR                        264
USSR                                264
Pacific Islands Trust Territory     252
Montenegro                          192
South Sudan                         132
Name: Area, Length: 240, dtype: int64

In [8]:
df['Area'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antarctica', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria',
       'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Luxembourg', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Virgin Island (British)', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Cayman Islands', 'Central African Republic', 'Chad',
       'Channel Islands', 'Chile', 'China, Hong Kong SAR',
       'China, Macao SAR', 'China', 'China, Taiwan Province of',
       'Christmas Island', 'Cocos (Keeling) Islands', 'Colombia',
       'Comoros (the)', 'Congo', 'Cook Islands (the)', 'Costa Rica',
       "Côte d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Rep',
       'Czechoslovakia', 'North Korea', 'Dem. Rep. Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Falkland Islands (Malvinas)',
       'Faroe Islands', 'Fiji', 'Finland', 'France', 'Guyana',
       'French Polynesia', 'French Southern Territories', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece',
       'Greenland', 'Grenada', 'Guadeloupe', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Haiti', 'Holy See', 'Honduras', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland',
       'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan',
       'Lao PDR', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Liechtenstein', 'Lithuania', 'Madagascar', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Marshall Islands (the)',
       'Martinique', 'Mauritania', 'Mauritius', 'Mayotte', 'Mexico',
       'Micronesia (Federated States of)', 'Midway Island', 'Monaco',
       'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands',
       'Netherlands Antilles', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'Norfolk Island',
       'Macedonia', 'Norway', 'Oman', 'Pacific Islands Trust Territory',
       'Pakistan', 'Palau', 'Palestine, State of', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Pitcairn',
       'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'South Korea',
       'Moldova', 'Réunion', 'Romania', 'Russia', 'Rwanda',
       'Saint Helena, Ascension and Tristan da Cunha',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia',
       'South Africa', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Svalbard and Jan Mayen Islands', 'Sweden',
       'Switzerland', 'Syria', 'Tajikistan', 'Thailand', 'Timor-Leste',
       'Togo', 'Tokelau', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Turks and Caicos Islands (the)',
       'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United Republic of Tanzania',
       'United States of America', 'Virgin Island (U.S.)', 'Uruguay',
       'USSR', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Wake Island',
       'Wallis and Futuna Islands', 'Western Sahara', 'Yemen',
       'Yugoslav SFR', 'Zambia', 'Zimbabwe'], dtype=object)

In [9]:
df.loc[df['Area'] == 'United States of America', 'Area'] = 'United States'

In [10]:
df.loc[df['Area'] == 'United Kingdom of Great Britain and Northern Ireland', 'Area'] = 'United Kingdom'

In [11]:
# Rename countires to match with JSON file
df.loc[df['Area'] =='Belgium-Luxembourg', 'Area'] = 'Luxembourg'
df.loc[df['Area'] =='Bolivia (Plurinational State of)','Area'] = 'Bolivia'
df.loc[df['Area'] =='British Virgin Islands', 'Area'] = "Virgin Island (British)"
df.loc[df['Area'] == 'China, mainland', 'Area'] = 'China'
df.loc[df['Area'] =='Comoros','Area'] = "Comoros (the)"
df.loc[df['Area'] == 'Cook Islands', 'Area'] = "Cook Islands (the)"
df.loc[df['Area'] =='Czechia', 'Area'] = 'Czech Rep'
df.loc[df['Area'] == "Democratic People's Republic of Korea",'Area'] = 'North Korea'
df.loc[df['Area'] =='Democratic Republic of the Congo', 'Area'] = 'Dem. Rep. Congo'
df.loc[df['Area'] =='Dominican Rebublic', 'Area'] = 'Dominican Rep'
df.loc[df['Area'] == 'Ethiopia PDR','Area'] = 'Ethiopia'
df.loc[df['Area'] == 'French Guyana','Area'] = 'Guyana'
df.loc[df['Area'] =='Iran (Islamic Republic of)', 'Area'] = 'Iran'
df.loc[df['Area'] == "Lao People's Democratic Republic", 'Area'] = 'Lao PDR'
df.loc[df['Area'] =='Marshall Islands', 'Area'] = "Marshall Islands (the)"
df.loc[df['Area'] == 'Netherlands Antilles (former)', 'Area'] = 'Netherlands Antilles'
df.loc[df['Area'] == 'North Macedonia', 'Area'] = 'Macedonia'
df.loc[df['Area'] == 'Palestine', 'Area'] = 'Palestine, State of'
df.loc[df['Area'] == 'Republic of Korea', 'Area'] = 'South Korea'
df.loc[df['Area'] == 'Republic of Moldova', 'Area'] = 'Moldova'
df.loc[df['Area'] =='Russian Federation', 'Area'] = 'Russia'
df.loc[df['Area'] == 'Serbia and Montenegro','Area'] = 'Serbia'
df.loc[df['Area'] == 'South Georgia and the South Sandwich Islands', 'Area'] = 'Georgia'
df.loc[df['Area'] == 'Sudan (former)', 'Area'] = 'Sudan'
df.loc[df['Area'] == 'Syrian Arab Republic',  'Area'] = 'Syria'
df.loc[df['Area'] == 'Türkiye', 'Area'] = 'Turkey'
df.loc[df['Area'] == 'Turks and Caicos Islands', 'Area'] = "Turks and Caicos Islands (the)"
df.loc[df['Area'] =='United States Virgin Islands', 'Area'] = "Virgin Island (U.S.)"

In [12]:
# Export clean df to Prepared folder before subsetting df
df.to_csv(os.path.join(path,'Prepared Data','Monthly_Temps.csv'))